.root-103 {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  z-index: 1000000;
  inset: 0px;
  visibility: hidden;
}
.content-105 {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  color: var(--neutralPrimary);
  visibility: visible;
}
.root-384 {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--blackTranslucent40);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.267s ease 0s;
}
.root-387 {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--blackTranslucent40);
  inset: 0px;
  position: absolute;
}
._viD3f-XQDTpekTDSdo5 .ms-Dialog-main {
  min-height: 160px;
}
@media (min-width: 480px) {
  .main-385 {
    width: auto;
    max-width: 340px;
    min-width: 288px;
  }
}
.main-385 {
  box-shadow: rgb(0 0 0 / 22%) 0px 25.6px 57.6px 0px,
    rgb(0 0 0 / 18%) 0px 4.8px 14.4px 0px;
  border-radius: 2px;
  background-color: var(--white);
  box-sizing: border-box;
  position: relative;
  text-align: left;
  outline: transparent solid 3px;
  max-height: calc(100% - 32px);
  max-width: calc(100% - 32px);
  min-height: 176px;
  min-width: 288px;
  overflow-y: auto;
  width: 288px;
  display: flex;
}
.root-387 {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--blackTranslucent40);
  inset: 0px;
  position: absolute;
}
.scrollableContent-386 {
  overflow-y: auto;
  flex-grow: 1;
  max-height: 100vh;
}
.content-388 {
  flex-grow: 1;
  overflow-y: hidden;
}
.header-390 {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.title-393 {
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 600;
  color: var(--neutralPrimary);
  margin: 0px;
  min-height: 20px;
  padding: 16px 46px 20px 24px;
  line-height: normal;
}
.topButton-394 {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px 15px 0px 0px;
}
.inner-391 {
  padding: 0px 24px 24px;
}
.innerContent-392 {
  position: relative;
  width: 100%;
}
.subText-389 {
  font-family: "Segoe UI Web (East European)", "Segoe UI", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 24px;
  color: var(--neutralSecondary);
  line-height: 1.5;
  overflow-wrap: break-word;
}
.actions-395 {
  position: relative;
  width: 100%;
  min-height: 24px;
  line-height: 24px;
  margin: 16px 0px 0px;
  font-size: 0px;
}
.actionsRight-397 {
  text-align: right;
  margin-right: -4px;
  font-size: 0px;
}
.action-396 {
  margin: 0px 4px;
}
.label-371 {
  margin: 0px 4px;
  line-height: 100%;
  display: block;
  font-weight: 600;
}
.root-398 {
  outline: transparent;
  position: relative;

  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid var(--themePrimary);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 4px;
  border-radius: 2px;
  min-width: 80px;
  height: 34px;
  background-color: var(--themePrimary);
  color: var(--white);
  user-select: none;
}
.root-376 {
  outline: transparent;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(138, 136, 134);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 4px;
  border-radius: 2px;
  min-width: 80px;
  height: 34px;
  background-color: var(--white);
  color: var(--neutralPrimary);
  user-select: none;
}
